.diferencias__item__reloj{
    background-image: url(../../img/icono-reloj.png);
}

.diferencias__item__enfoque{
    background-image: url(../../img/icono-dinero.png);
}


.diferencias__item__especialistas{
    background-image: url(../../img/icono-quimica.png);
}